head
  title Subpage
  include includes/head.jade
body
  .main
    include includes/topbar.jade
    
    #delta.content-area
      .delta_banner
      hr#divline

      #intro
        h2 Start the new year with a healthy smile

        p Jump into 2021 with tips, ideas and reminders that will keep you smiling all year long!

      #delta_resources
        #articles.resource
          .category
            h4 Articles
          .entries
            .item
              h4 Resolution #1: Eat healthy 
              p Mom was right – the right foods can help fight bacteria and inflammation. Your mouth will thank you! 
              a(href="https://www.deltadentalins.com/oral_health/new-year.html") >> Start the year off right 
            .item
              h4 Resolution #2: Be careful with holiday snacking 
              p Your favorite drinks and snacks can cause trouble for enamel.
              a(href="https://www.deltadentalins.com/oral_health/acid_wear.html") >> Learn the warning signs
            .item
              h4 Resolution #3: Brush up on dental hygiene 
              p It’s never too late to learn how to brush and floss correctly!
              a(href="https://www.deltadentalins.com/oral_health/brushing.html") >> Get a refresher

        #recipes.resource
          .category
            h4 Recipe
          .entries
            .item
              h4 Banana nut muffins
              p Looking for a warm and quick dessert? These muffins are sure to hit the spot. Packed with energy-boosting nuts and fruit, they’re a fresh and tasty start to the new year.
              img(src="https://www.deltadentalins.com/_assets/pictures/oral-health/banana-nut-muffins.jpg")
              a(href="https://www.deltadentalins.com/oral_health/banana-nut-muffins.html") >> Get the recipe
        //- #flyer.resource
          .category
            h4 Flyer
          .entries
            .item
              h4 The gift of a healthy smile 
              p Not sure what to give your friends and family this season? Check out these tooth-friendly gift ideas.
              a(href="https://www.deltadentalins.com/administrators/assets/healthy-gifts.pdf") >> Download the flyer 
        #poster.resource
          .category
            h4 Poster
          .entries
            .item
              h4 Add these ideas to your list.
              p Don’t let Halloween equal tooth decay.
              a(href="https://www.deltadentalins.com/administrators/assets/new-years-resolutions.pdf") >> Download the poster
        //- #quiz.resource
          .category
            h4 Quiz
          .entries
            .item
              h4 Are you at risk?
              p Find out if you’re at risk of gum disease with a quick interactive quiz.
              a(href="https://www.deltadentalins.com/oral_health/gum-disease-quiz/") >> Take the quiz 
        //- #activity.resource
          .category
            h4 Activity Book
          .entries
            .item
              h4 Book Grin for Kids
              p This printable activity book is packed with crafts, puzzles and coloring pages.
              a(href="https://www.deltadentalins.com/documents/grin/grin-for-kids-2019.pdf") >> Download the 2019 issue
        #video.resource
          .category
            h4 Video
          .entries
            .item
              h4 New year, new you
              p Preventive dental care – it’s more than just brushing and flossing.      
              a(href="https://www.youtube.com/watch?v=pj2d7p5QoG0") 
                |#[img(src="/SiteAssets/Images/Announcements/deltavid4.jpg" style="display: block;")] >> Watch the video

